.img {
    width: 300px;
    height: 300px;
}

h1 {
    color: blue;

}

h2 {
    color: aquamarine;
}

.title {
    font-size: 25px;
    border: 1px solid;
    background-color: blueviolet;
    padding: 30px 40px 30px 40px color:darkred;
}